* {
  margin: 0;
  padding: 0;
}
hr {
  : 20px;
  padding-top: 20px
}

body {
  font-family: YuGothic, "游ゴシック", "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", sans-serif;
  background-color: #ddd;
  font-size: 14px;
}
footer{
  text-align: center
}
nav {
  background-color: #2f4f4f;
}
nav ul li {
  margin: 0 20px;
  display: inline-block;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
}


nav ul li a:hover {
  text-decoration: none;
  color: red;
}

/*

*/

nav ul li a {
  color: #c0c0c0;
}


#logo img {
  position: relative;
  display: inline-block;
  border-radius: 15%;
  width: 100px;
  height: 120px;
}
